{% extends 'base.html' %}
{% load static %}
{% block title %}Features{% endblock %}
{% block content %}

<div class="container">

    <div class="row m-0">
        <div class="col-12 fs-1 fw-normal text-center">
            What is Special in <span class="fw-bolder"> VizAt </span> ?
        </div>

        <div class="col-6 mt-5 mb-3">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-2 position-relative">
                        <div class="position-absolute top-50 start-50 translate-middle">
                            <i class="fs-1 fw-bolder fa fa-question"></i>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 mt-5 mb-3">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="col-md-2 position-relative">
                        <div class="position-absolute top-50 start-50 translate-middle">
                            <i class="fs-1 fw-bolder fa fa-question"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 mt-5 mb-3">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-2 position-relative">
                        <div class="position-absolute top-50 start-50 translate-middle">
                            <i class="fs-1 fw-bolder fa fa-question"></i>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 mt-5 mb-5">
            <div class="card">
                <div class="row g-0">
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="col-md-2 position-relative">
                        <div class="position-absolute top-50 start-50 translate-middle">
                            <i class="fs-1 fw-bolder fa fa-question"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}