{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="container">
    <div class="row m-auto mt-5">
        <div class="col-4 text-center bg-light">
            <div class="p-2 m-3">
                Load Your Data
            </div>
        </div>
        <div class="col-4 text-center bg-success text-light">
            <div class="p-2 m-3">
                Choose the attributes
            </div>
        </div>
        <div class="col-4 text-center bg-dark text-light">
            <div class="p-2 m-3">
                Vizualize the Data
            </div>
        </div>
    </div>
</div>

{% endblock %}